body{
    background-image: url(../media/photos/fondo.jpg);
    background-attachment: fixed;
    background-size: 100% auto;
    background-repeat: repeat;
}
.white{
  color: white;
}
.desenfoque{
    background-image: url(../media/photos/fondod.jpg);
    background-attachment: fixed;
    background-size: 100% auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*
style="background-image: url(../media/photos/fondo.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% auto;"  
*/

/* clases varias */

.no-border{
  border: none !important;
}

footer a{
    color: black;
    text-decoration: none;
}
footer a:hover{
    color: black;
    text-decoration: none;
  }
  
  .footer-bottom{
    padding: 2em;
  }
  .footer-middle{
    padding-top: 2em;
    color: black;
  }
  /**Sub Navigation**/
  .subnavigation-container{
    background: #e6ffff;
  }
  .subnavigation .nav-link{
    color: black;
    font-weight: bold;
  }
  .subnavigation-container{
    text-align: center;
  }
  .subnavigation-container .navbar{
    display: inline-block;
    margin-bottom: -6px; /* Inline-block margin offffset HACK -Gilron */
  }
  .col-subnav a{
    padding: 1rem 1rem;
    color: black;
    font-weight: bold;
  }
  .col-subnav .active{
    border-top:5px solid orange;
    background:black;
    color: black;
  }